doctype transitional
//
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    title TOP TED TALKS | LOG IN
    link(rel='stylesheet', href='/stylesheets/login.css', type='text/css')
    // tabs
  body
    .form
      ul.tab-group
        li.tab.active
          a(href='#login') Log In
        li.tab
          a(href='#signup') Sign Up
      .tab-content
        #login
          form(action='/users/login', method='post')
            h2 Welcome Back!
              .field-wrap
                label
                  | Username
                  span.req *
                input(type='text', required='', autocomplete='off', name='username')
              .field-wrap
                label
                  | Password
                  span.req *
                input(type='password', required='', autocomplete='off', name='password')
              button.button.button-block(type='submit') Log In
        #signup
          h2 Sign Up for Free
          form(action='/users/register', method='post')
            .top-row
            .field-wrap
              label
                | Name
                span.req *
              input(type='text', required='', autocomplete='off', name='name')
            .field-wrap
              label
                | Username
                span.req *
              input(type='text', required='', autocomplete='off', name='username')
            .field-wrap
              label
                | Email
                span.req *
              input(type='email', required='', autocomplete='off', name='email')
            .field-wrap
              label
                | Set A Password
                span.req *
              input(type='password', required='', autocomplete='off', name='password')
            .field-wrap
              label
               | Confirm Password
               span.req *
              input(type='password', required='', autocomplete='off', name='password2')
            button.button.button-block(type='submit') Get Started
      // tab-content
    // /form  
    script(type='text/javascript', src='/javascripts/jquery.min.js')
    script(type='text/javascript', src='/javascripts/login.js')
