extends layout

block content
    .wrapper.col2
      #container.clear
        // #######################################################################################################
        #content
          h1 List of TED Talks
          br
          img.imgl(src='./images/l1.jpg', alt='', width='400', height='200')
          p  TED is a nonpartisan nonprofit devoted to spreading ideas, usually in the form 
          p of short, powerful talks. TED began in 1984 as a conference where 
          p Technology, Entertainment and Design converged, and today covers almost 
          p
            | all topics  from science to business to global issues  in more than 110 languages.
          p
            | Meanwhile, independently run TEDx events help share ideas in communities around the world.
          br
          br
          br
          #demo
        
            h1#totalCount
            br
            br
            h1 TED Talks | Top Lists
              table.highlight.bordered.responsive-table
                thead
                  tr
                    th(style='width: 45%; font-size:90%') Title
                    th(style='width: 20%; font-size:90%') Uploader Name
                    th(style='width: 20%; font-size:90%') Number of Views
                    th(style='width: 20%; font-size:90%') Date Created
                    
                tbody#entry

            #comments
              h2 Comments
              ul.commentlist
                li.comment_odd
                  .author
                    img.avatar(src='./images/by1.jpg', width='32', height='32', alt='')
                    span.name
                      a(href='#') W. Edwards Deming
                    span.wrote wrote:
                  .submitdate
                    a(href='#') August 4, 2009 at 8:35 am
                  p
                    | Do schools kill creativity? Making an entire class write something they have no interest in and forcing them to have X amount of words. Yes. I would say it does. It kills the want to learn.
                li.comment_even
                  .author
                    img.avatar(src='./images/by2.jpg', width='32', height='32', alt='')
                    span.name
                      a(href='#') Philip B. Crosby
                    span.wrote wrote:
                  .submitdate
                    a(href='#') August 4, 2009 at 8:35 am
                  p Anyone know about what different laughter types say about people﻿
                li.comment_odd
                  .author
                    img.avatar(src='./images/by3.jpeg', width='32', height='32', alt='')
                    span.name
                      a(href='#') Walter Shewhart
                    span.wrote wrote:
                  .submitdate
                    a(href='#') August 4, 2009 at 8:35 am
                  p
                    | very useful information. thank you. I wonder if laughter has been a naturally adaptive technique the poor and disparaged us in order to decompress from their circumstances. since they find the most grusome or cruel acts funny. when others don't.
            
      // #######################################################################################################
    // #######################################################################################################

