extends layout

block content
  
    // #######################################################################################################
    .wrapper.col2
      #container.clear
        // #######################################################################################################
      center  
        h5 Add New Entry for Ted Talks
        br
        br
        .container
          .row
            form.col.s12(method='POST', action='/tedtalks')
              .row
                .form-group.col.s6
                  label Title
                  input.form-control(type='text', name='title', placeholder='Do schools kill creativity?', required='', aria-required='true')
                  br
                .form-group.col.s6
                  label Uploader Name
                  input.form-control(type='text', name='uploader_name', placeholder='Tedtalks', required='', aria-required='true')
                  br
                .form-group.col.s6
                  label Youtube Page
                  input.form-control(type='text', name='youtube_page', placeholder='https://www.youtube.com/playlist?list=PL70DEC2B0568B5469', required='', aria-required='true')
                  br
                .form-group.col.s6
                  label Youtube Link
                  input.form-control(type='text', name='youtube_link', placeholder='https://www.youtube.com/watch?v=iG9CE55wbtY&index=1&list=PL70DEC2B0568B5469&t=1s', required='', aria-required='true')
                  br
                .form-group.col.s6
                  label Description
                  input.form-control(type='text', name='description', placeholder='Sir Ken Robinson makes an entertaining and profoundly moving case for creating an education system that nurtures (rather than undermines) creativity.', required='', aria-required='true')
                  br
                .form-group.col.s6
                  label Published Date
                  input.form-control(type='text', name='pub_date', placeholder='Jan 6, 2007', required='', aria-required='true')
                  br
                .form-group.col.s6
                  label Category
                  input.form-control(type='text', name='category', placeholder='Education', required='', aria-required='true')
                  br
                .form-group.col.s6
                  label Number of Views
                  input.form-control(type='text', name='views', placeholder='11,576,537 views', required='', aria-required='true')
                  br
                .form-group.col.s6
                  label Number of Likes
                  input.form-control(type='text', name='likes', placeholder='109,462 likes', required='', aria-required='true')
                  br
                .form-group.col.s6
                  label Embedded Link 
                  input.form-control(type='text', name='embedded', placeholder='https://www.youtube.com/embed/iG9CE55wbtY?list=PL70DEC2B0568B5469')
                br
                button.btn.waves-effect.waves-light.red(type='submit')
                  | Submit 
                  i.material-icons.right
  
        

